body{
background:linear-gradient(135deg,#ff9a9e,#fad0c4);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:sans-serif;
}

.card{
background:white;
padding:30px;
border-radius:20px;
text-align:center;
width:340px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}

input,button{
margin-top:10px;
padding:12px;
border-radius:10px;
border:none;
width:90%;
}

button{
background:#ff4d6d;
color:white;
font-size:18px;
cursor:pointer;
}

#percent{
font-size:22px;
color:#ff4d6d;
}